:root {
  --el-color-primary: #00c853;
  --el-color-primary-light-3: #4dd97f;
  --el-color-primary-light-5: #80e6a1;
  --el-color-primary-light-7: #b3f0c4;
  --el-color-primary-light-8: #ccf5d9;
  --el-color-primary-light-9: #e6fbed;
  --el-color-primary-dark-2: #00a043;
}
